.faq {
  padding: 100px 0;
  background: #1B1B1B;
  border-radius: 50px 50px 0px 0px;
}

@media screen and (max-width: 1024px) {
  .faq {
    padding: 85px 0;
  }
}

@media screen and (max-width: 834px) {
  .faq {
    padding: 70px 0;
  }
}

.faq__items {
  padding: 60px 0 0 0;
}

@media screen and (max-width: 834px) {
  .faq__items {
    padding: 50px 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .faq__items {
    padding: 40px 0 0 0;
  }
}

@media screen and (max-width: 512px) {
  .faq__items {
    padding: 25px 0 0 0;
  }
}

.faq__item {
  display: block;
  border-top: 1px solid #363636;
}

.faq__item:last-child {
  border-bottom: 1px solid #363636;
}

.faq__flex {
  padding: 30px 0;
  cursor: pointer;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.faq__paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 90%;
  color: #FFFFFF;
}

.faq__rider {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 90%;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.faq__rider_active {
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  .faq__rider {
    display: none;
  }
}

.faq__arrow {
  display: none;
  transition: all .5s ease;
}

@media screen and (max-width: 1024px) {
  .faq__arrow {
    display: inline-block;
  }
}

.faq__arrow_active {
  transform: rotate(180deg);
}

.faq__punkts {
  padding: 0 0 30px 0;
  display: none;
  flex-direction: column;
  gap: 18px;
}

.faq__punkts_active {
  display: flex;
}

.faq__punkt {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  color: #FFFFFF;
  opacity: .7;
}